<a href="https://colab.research.google.com/github/KengoTobita/python_startup/blob/master/StartupPython_HelloWorld.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第１章　Pythonの基本

本性で行う内容
* 基本的な演算
* データ型
* 変数
* コメント
* print関数
* input関数
* len関数
* データ型の変更

***
# Pythonを電卓として使おう！      
    
複雑な計算もPythonを使用すれば、簡単に分かりやすく計算することができます！    
もちろん、これらの演算子は機械学習でも多用する重要な技術です。     
ぜひマスターしてください！


| 演算子 | 使用例 | 使用例の結果 | 解説 |
| :----: | :----: | :----------: | ------------------------------ |
| x + y  | 2 + 3  |      5       | 普通の足し算                   |
| x - y  | 3 - 2  |      1       | 普通の引き算                   |
| x * y  | 4 * 3  |      12      | 普通の掛け算                   |
| x / y  | 5 / 2  |     2.5      | 割り算<span style="font-size: 10%">（小数点以下の表示<b>あり</b>）</span> |
| x // y | 5 // 2 |      2       | 割り算<span style="font-size: 10%">（少数点以下の表示<b>なし</b>）</span> |
| x ** y | 2 ** 4 |      16      | 累乗                           |

これらの演算子を使用して簡単な計算をしてみましょう！

# データ型
Pythonで書いた構文の各要素には「データ型」と言われる分類があります。<br>
文字ならば文字型……<br>
整数ならば整数型……<br>
それぞれの要素にはそれぞれのデータ型が設定されています。<br>
  
それらについて難しいことは一切ありませんが、Pythonを使用するにあたって知っておく必要があります。<br>
ここで覚えてしまいましょう。

| 名前       | 表記  | 使用例        |
| ---------- | ----- | ------------- |
| 文字型     | str   | "Hello"       |
| 整数型     | int   | 10            |
| 浮動小数型 | froat | 3.24          |

データ型の確認には**type関数**を使用します。<br>
使用方法は`type()`の括弧の中に、データ型を確かめたい要素を入れるだけです

In [0]:
print(type(100))
print(type("百"))
print(type(100.0))

<class 'int'>
<class 'str'>
<class 'float'>


## 文字型 (str)
文字列型は名前の通り文字を扱うデータ型です。<br>
type関数では`str`と表示されます。<br>
また、文字型のみ表現する場合は`'`(シングルクォート)か、`"`（ダブルクォート）で囲む必要があります。<br>
<font color = "#cccccc">私はダブルクォートを多用する癖がありますが、皆さんはシングルクォートでも構いません</font>
  
具体例として[ISO基準の国名コード](https://ja.wikipedia.org/wiki/ISO_3166-1)を変数として、値に国名を入れてみましょう。<br>

In [0]:
#シングルクウォートでも、ダブルクォートでも大丈夫です！
USA = "アメリカ"
RUS = 'ロシア'

print(USA)
print(type(RUS))

アメリカ
<class 'str'>

In [0]:
#しかし、クォーテーションがない場合はErrorが表示されます！
JPN = 日本

NameError: ignored

また、複数の文字型を繋げたり、複製して表示することも可能です。<br>
文字型のデータを繋げる時は`+`を使用し、<br>
文字型の要素を複製する時は、複製したい要素の後に`*`を打ち、複製したい数をint型で打ってください。

In [0]:
# 文字型の結合は下記のように、「+」を使用します。
print("こんな感じで"+"文字型の要素を"+"プラスを使って "+"繋げられます。")

# 同じ文字を複数結合させたい時は、「*」を打ち、繰り返し表示する回数を打ちます。
print("-" * 100)

print("便利でしょ？   " + "ね？ "*10)

こんな感じで文字型の要素をプラスを使って 繋げられます。
----------------------------------------------------------------------------------------------------
便利でしょ？   ね？ ね？ ね？ ね？ ね？ ね？ ね？ ね？ ね？ ね？


# コメント
さらっと使いましたが、コードの中にコメントを書く機能があります。

In [0]:
 この機能です！　
#  このシャープが付いて、色が変わっている行が「コメントです」

コメントはプログラムとして実行されませんが、コードのなかにメモ書きを残すことができます。    
行のはじめに`＃`をつけると、その行はコメントと見なされます。    
少し、いじってみましょう。

In [0]:
print("＃　が付いていないので出力されます！")
#　print("#　がついているので出力されません……")

＃　が付いていないので出力されます！

また、複数行に渡りコメントを書きたい時は、<br>
`シングルクォーテーション`か`’ダブルクォーテーション`を３回打ったもので囲むことで可能になります。

In [0]:
nano = """kakaka"""
type(nano)

str

In [0]:
"""
このように長いコメントを記述する際は
シングルクォーテーションかダブルクォーテーションを
３回打ち込み、囲むことで書くことができます！
"""
print("nyan-nyan")

'''
しかしこの方法は欠点があります。
#の場合とは違い、Pythonの処理上では「コメント」として
処理が行われていません。

type()でご確認していただけるとわかるのですが、
文字型として扱っています。

今後、classや制御構文ではインテンドの扱いが重要になります。
この方法はそのインテンドに影響する
可能性があるので少し気をつけてください
'''

nyan-nyan

'\nしかしこの方法は欠点があります。\n#の場合とは違い、Pythonの処理上では「コメント」として\n処理が行われていません。\n\ntype()でご確認していただけるとわかるのですが、\n文字型として扱っています。\n\n今後、classや制御構文ではインテンドの扱いが重要になります。\nこの方法はそのインテンドに影響する\n可能性があるので少し気をつけてください\n'

# 変数を使用する

上記の演算子だけでも計算はできますが、複雑になるにつれ表記が煩雑になってしまいます。    
しかし、変数を使用することでコードを書きやすく、理解しやすくすることができます。    
    
変数とはデータを一時的に記憶する領域のことです。    
`name = data`  のように、<br>
変数名を左に、記憶するデータを右に記入します。<br>
  
    
      
   
実際に使用してみましょう。<br>
下記のコードでは商品の値段を、商品名の変数に格納しています。

In [0]:
apple = 200
orange = 100
banana = 150

print(apple * 3 + banana * 6)

1500

下記の例のように、変数名として使用不可である文字があるので注意してください。

| 正しくない変数名 | 理由                       |
| ---------------- | -------------------------- |
| Current-balance  | ハイフンは使用不可         |
| Current barance  | スペースは使用不可         |
| 4account         | 数字からスタートはできない |
| 42               | 同上                       |
| ©urrent         | $などの特殊文字は使用不可  |
| "Hello"          | ' や ”は使用不可           |


# 自動応答プログラム

In [34]:
print("いらっしゃいませ。")
customer_name = input("お名前をお伺いしてもよろしいでしょうか？")
print(customer_name + "様ですね。\nご来店ありがとうございます。")
print("{name}って{mojisuu}文字ですね。".format(name=customer_name , mojisuu=len(customer_name)))

いらっしゃいませ。
お名前をお伺いしてもよろしいでしょうか？easy_tobita
easy_tobita様ですね。
ご来店ありがとうございます。
easy_tobitaって11文字ですね。

# Print関数
print関数は編集者が出力したい内容を出力する関数です。<br>
変数を入力した場合は変数に格納されたデータが、<br>
データを入力した場合は入力したデータが出力されます。<br>
 <br>
`print(出力したい内容)`

In [24]:
wish = "ステーキ食べたい"

print("焼肉食べたい")
print(wish)

焼肉食べたい
ステーキ食べたい

変数以外にも、何かしらのデータを特定するものを入力することで、<br>
指定したデータを出力することが可能です。<br>
<br>
下記のコードはリスト型（あとでやる）の中からデータを指定しています。

In [28]:
list = ["壱","弐","参"]

print(list[2])

参

計算式など処理を行うものは処理をして出力をしています。

In [29]:
print(60*60*24*365*100)

3153600000

出力を行う際に特殊文字を使用することで改行が可能です。

In [26]:
print("すべての人間は死ぬ \nソクラテスは人間である\nソクラテスは死ぬ")

すべての人間は死ぬ
ソクラテスは人間である
ソクラテスは死ぬ

In [0]:
カンマで区切ることで複数のデータを出力することが可能です

In [4]:
print("初めに言があった","言は神と共にあった","言は神であった。",sep="…" )

初めに言があった…言は神と共にあった…言は神であった。

# Input関数
input関数は実行者が入力したデータを変数として受け取る関数です。<br> 
変数 = input("表示する質問")

In [0]:
food = input("好きな食べ物はなんですか？")
print("わかった！今から" + food + "を食べに行こう！")

好きな食べ物はなんですか？焼肉
わかった！今から焼肉を食べに行こう！

# len関数
len関数は文字型の長さやシーケンスの長さなどを整数で返してくれる関数です。<br>
`len(長さを測りたいsomething)` で使用することができます。

In [36]:
print(len("hello"))
print(len("always fair in love and war"))
print(len( [i  for i in range(1,101)]))

5
27
100


# データ型を扱う際の注意   ~str(),int(),float()の使用について~
Pythonを使用していると、異なるデータ型をまとめて使用する状況が多くあります。<br>
その場合は異なるデータ型を扱うにあたり、準備が必要になります。<br>
  
具体的な例をあげます。<br>
今回はPrint関数を使用して、自身の戦闘力を宣言してみましょう。

In [0]:
power = 530000
print("私の戦闘力は" + power + "です。")

TypeError: ignored

 あらら……Errorが出力されました。<br>
 Errorが発生すると、どのような理由でErrorが発生したのか理由を出力してくれます。<br>
  
今回の場合は`TypeError: must be str, not int`と出力されています。<br>
print関数などで複数のデータ型からなる要素を一つにまとめる時は、<br>
単一のデータ型に揃える必要があります。　<br>
  
今回は文字型の中に一つだけ紛れ込んだ整数型を修正します。<br>
文字型への修正は**str関数**を使用します。<br>
使用方法は修正したい要素を`str()`の括弧のなかに入れるだけです。

In [0]:
#修正版
print("私の戦闘力は"+ str(power) + "です。")

私の戦闘力は530000です。

やりました！これで自身の戦闘力を宣言することができました。<br>
このようにprint関数など、一つの要素として異なるデータ型をまとめる場合は、<br>
事前に一つのデータ型でまとめる必要があります。<br>
今回は文字型で出力するために`str()`を使用しましたが、<br>
文字型を数字に戻す`int()`や`froat()`があるので、<br>
出力の調整以外でもデータ型の変換が必要である場合、臨機応変に使用してください。<br>
<br>

  上記の例では、少数のデータ型のものを変更することで対応しましたが、<br>
**format関数**を使用することで、文字列の中に値をまとめて埋め込むことも可能です。<br>
同じ文で試してみましょう。

format関数は文字列の中に`{key_name}`を埋め込み、その文字列の後に`.format(　key_name = "値")`を入力します。<br>
今回の例文の場合では……

In [0]:
print("私の戦闘力は{combat_power}です".format(combat_power = 530000 , ))

私の戦闘力は530000です

文字列内に埋め込んだキーとして`{combat_power}`を入力し、<br>
`.format( combat_power = "53000)"`で整数型の `530000 `を文字型に変換しています。<br>